.Header .navbar {
  background-color: rgba(47, 63, 92, 0.85);
  color: #e7e7e7;
  position: fixed;
  z-index: 100;
  height: 65px;
  width: 100%;
  top: 0; }
  .Header .navbar a,
  .Header .navbar .nav-link {
    color: #e7e7e7 !important; }

.Header .navbar-brand {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.9em; }

.Header .dropdown-menu {
  background-color: rgba(47, 63, 92, 0.85); }
  .Header .dropdown-menu .dropdown-item:focus,
  .Header .dropdown-menu .dropdown-item:hover {
    background-color: rgba(226, 226, 226, 0.432);
    color: black;
    outline: none; }
    .Header .dropdown-menu .dropdown-item:focus a:hover,
    .Header .dropdown-menu .dropdown-item:hover a:hover {
      text-decoration: none; }

.Login {
  border: 1px solid grey;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  vertical-align: center;
  text-align: center;
  margin-top: 200px;
  box-shadow: 2px 2px 2px #686868; }
  .Login .login-item {
    margin: 10px; }
  .Login .login-item img:hover {
    cursor: pointer; }

.Dashboard {
  padding-top: 80px;
  padding-bottom: 40px;
  position: absolute;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, rgba(111, 225, 245, 0.6), rgba(255, 209, 148, 0.6)), url(./assets/dashboard.png);
  background-size: cover;
  background-position: top; }
  .Dashboard h1 {
    text-align: center;
    color: #727272;
    font-weight: 300; }
  .Dashboard .delete-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: red; }
    .Dashboard .delete-box button {
      display: block;
      cursor: pointer;
      width: 80px;
      margin: 20px auto; }

.NewPoll {
  position: absolute;
  overflow: scroll;
  padding-bottom: 40px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 90px;
  background-color: #fff7e0; }
  .NewPoll form {
    background-color: #fff;
    max-width: 600px;
    margin: 10px auto;
    padding: 30px 45px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 1px 3px 3px #b1b1b1;
    font-weight: 300; }
  .NewPoll .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .NewPoll .err-msg {
    color: red; }

.Modal {
  position: fixed;
  z-index: 500;
  background-color: #fff;
  width: 550px;
  min-height: 400px;
  overflow: scroll;
  border: 1px solid #1d1d1d;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 50%;
  top: 50%;
  background-color: #fdf7e4;
  box-sizing: border-box;
  transition: all 0.3s ease-out; }

@media (max-width: 700px) {
  .Modal {
    width: 75%;
    left: 13%; } }

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7); }

.DonutChart h3 {
  text-align: center;
  font-weight: 300;
  color: #424242; }

.PollListItem {
  margin: 3px; }
  .PollListItem .list-group-item {
    width: 40%;
    min-height: 85px;
    overflow: scroll;
    margin: 10px auto;
    background-color: rgba(60, 85, 131, 0.7);
    box-shadow: 1px 2px 2px grey;
    font-weight: 300;
    color: white;
    text-align: center; }
  .PollListItem button {
    cursor: pointer;
    margin: 0 5px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: transparent;
    transition: 0.3s all;
    padding: 2px 10px;
    font-weight: 300;
    color: #ffd6b0; }
    .PollListItem button:focus {
      outline: none; }
    .PollListItem button:hover {
      border-radius: 50px;
      border: 1px solid #fff;
      color: #fdff71;
      background-color: rgba(131, 131, 131, 0.5); }

.Vote {
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300; }
  .Vote .err-msg {
    color: #ff0000;
    font-size: small; }

.loader {
  color: #61c7d4;
  font-size: 20px;
  margin: 250px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0; }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; } }

@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0; }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; } }

.Landing {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(82, 82, 82, 0.8), rgba(61, 114, 180, 0.8)), url(./assets/landing.jpg);
  background-size: cover;
  background-position: top; }
  .Landing .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; }
    .Landing .text-box .heading-main {
      font-family: 'Fredericka the Great', cursive;
      text-shadow: 1px 2px 2px #313131;
      display: block;
      font-size: 1.9em;
      font-weight: 400; }
    .Landing .text-box .heading-sub {
      display: block;
      font-size: 0.6em;
      font-weight: 200; }
  .Landing .btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative; }
    .Landing .btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
      .Landing .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .Landing .btn:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
    .Landing .btn-login {
      margin-top: 30px;
      background-color: #fff;
      color: grey; }
      .Landing .btn-login::after {
        background-color: #fff; }
    .Landing .btn::after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s; }

.AllPolls {
  padding-top: 80px;
  padding-bottom: 40px;
  position: absolute;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, rgba(217, 167, 199, 0.55), rgba(255, 252, 220, 0.55)), url(./assets/community.png);
  background-size: cover;
  background-position: top; }
  .AllPolls h1 {
    text-align: center;
    color: #636363;
    font-weight: 300; }
  .AllPolls .auth-msg {
    text-align: center;
    font-weight: 300; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  background-clip: #fff7e0; }
