.AllPolls {
  padding-top: 80px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(240, 240, 215);

  h1 {
    text-align: center;
    color: #636363;
    font-weight: 300;
  }
}
