.AllPolls {
  padding-top: 80px;
  padding-bottom: 40px;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-image: linear-gradient(
      to right bottom,
      rgba(217, 167, 199, 0.55),
      rgba(255, 252, 220, 0.55)
    ),
    url(./assets/dots.jpg);

  background-size: cover;
  background-position: top;

  h1 {
    text-align: center;
    transition: all 0.3s ease;
    margin: 1rem auto 2rem auto;
    font-family: 'Fredericka the Great', cursive;
  }

  .auth-msg {
    text-align: center;
    font-weight: 300;
  }

  .list-group {
    justify-content: space-around;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
}
