.Dashboard {
  padding-top: 80px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: beige;

  h1 {
    text-align: center;
    color: #636363;
    font-weight: 300;
  }

  .delete-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: red;

    & button {
      cursor: pointer;
      margin-top: 20px;
      margin-right: 3px;
    }
  }
}
