@import 'variables';

.Dashboard {
  // padding-top: 80px;
  // padding-bottom: 40px;
  padding: 6rem 4rem 4rem 4rem;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(111, 225, 245, 0.6),
      rgba(255, 209, 148, 0.6)
    ),
    url(./assets/dessert.jpg);
  background-size: cover;
  background-position: top;

  h1 {
    text-align: center;
    margin: 1rem auto 2rem auto;
    font-family: 'Fredericka the Great', cursive;
  }

  .delete-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: red;

    & button {
      display: block;
      cursor: pointer;
      width: 80px;
      margin: 20px auto;
    }
  }
}
