@import 'variables';

.Dashboard {
  padding-top: 80px;
  padding-bottom: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-color: $primary-bg-color;

  h1 {
    text-align: center;
    color: #636363;
    font-weight: 300;
  }

  .delete-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: red;

    & button {
      display: block;
      cursor: pointer;
      width: 80px;
      margin: 20px auto;
    }
  }
}
