.Landing {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(82, 82, 82, 0.8),
      rgba(61, 114, 180, 0.8)
    ),
    url(./assets/landing.jpg); //Photo by Patrick Tomasso on Unsplash
  background-size: cover;
  background-position: top;

  & .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

    & .heading-main {
      font-family: 'Fredericka the Great', cursive;
      text-shadow: 1px 2px 2px #313131;
      display: block;
      font-size: 1.9em;
      font-weight: 400;
    }

    & .heading-sub {
      display: block;
      font-size: 0.6em;
      font-weight: 300;
    }
  }

  .btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(#000, 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(#000, 0.2);
    }

    &-login {
      margin-top: 30px;
      background-color: #fff;
      color: grey;

      &::after {
        background-color: #fff;
      }
    }

    &::after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  }
}

// .btn {
//     &:link,
//     &:visited {
//       text-transform: uppercase;
//       text-decoration: none;
//       padding: 15px 40px;
//       display: inline-block;
//       border-radius: 100px;
//       transition: all 0.2s;
//       position: relative;
//     }

//     &:hover {
//       transform: translateY(-3px);
//       box-shadow: 0 10px 20px rgba(#000, 0.2);

//       &::after {
//         transform: scaleX(1.4) scaleY(1.6);
//         opacity: 0;
//       }
//     }

//     &:active {
//       transform: translateY(-1px);
//       box-shadow: 0 5px 10px rgba(#000, 0.2);
//     }

//     &-login {
//       background-color: #fff;
//       color: #8a8a8a;

//       &::after {
//         background-color: #fff;
//       }
//     }

//     &::after {
//       content: '';
//       display: inline-block;
//       height: 100%;
//       width: 100%;
//       border-radius: 100px;
//       position: absolute;
//       top: 0;
//       left: 0;
//       z-index: -1;
//       transition: all 0.4s;
//     }
//   }
