.Modal {
  position: fixed;
  z-index: 500;
  background-color: #fff;
  width: 60%;
  height: 75%;
  overflow: scroll;
  border: 1px solid rgb(29, 29, 29);
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 20%;
  top: 15%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (max-width: 700px) {
  .Modal {
    width: 75%;
    left: 13%;
  }
}
