@import 'variables';

.NewPoll {
  position: absolute;
  overflow: scroll;
  padding-bottom: 40px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 90px;
  background-color: $primary-bg-color;

  form {
    background-color: #fff;
    max-width: 600px;
    margin: 10px auto;
    padding: 30px 45px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 1px 3px 3px #b1b1b1;
    font-weight: 300;

    @media screen and (max-width: 680px) {
      width: 85%;
    }
  }

  .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .err-msg {
    color: red;
  }
}
