@import 'header';
@import 'login';
@import 'dashboard';
@import 'newPoll';
@import 'helpers';
@import 'landing';
@import 'allPolls';
@import 'variables';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  background-clip: $primary-bg-color;
}
